/* Fonts */

// Montserrat
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// Oleo
@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700);

// Delius
@import url(https://fonts.googleapis.com/css?family=Delius);

//Satisfy
@import url(https://fonts.googleapis.com/css?family=Satisfy);

@mixin fontSansSerif() {
	font-family: 'Montserrat', sans-serif;
}

@mixin fontSerif() {
	font-family: 'Oleo Script', cursive;
}

@mixin fontHandWriting() {
	font-family: 'Delius', cursive;
}

@mixin fontSatisfy() {
	font-family: 'Satisfy', cursive;
}