.alert {
	margin: 0;
	text-align: center;
	&-warning {
		color: darken($main-orange, 25%);
		background-color: lighten($main-orange, 30%);
		border-color: lighten($main-orange, 25%);
	}
	&-success {
		color: darken($main-green, 25%);
		background-color: lighten($main-green, 30%);
		border-color: lighten($main-green, 25%);
	}
	&-error {
		color: darken($main-pink, 25%);
		background-color: lighten($main-pink, 30%);
		border-color: lighten($main-pink, 25%);
	}
}

.notification-pulse {
	display: inline-block;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    background-color: red;
  }
  100% {
    background-color: $main-orange;
  }
}