<template name="about">
	<section class="about col-xs-12 col-md-6 col-md-offset-3">
		<div class="about__heading">
			<h3>About Bookley Crossing</h3>
		</div>
		<h4 class="about__heading--green">How can I borrow a book?</h4>
		<p>You can borrow one book at a time by going to the Book page and clicking "Request". You will need to be logged in. An admin will approve or decline your request and you'll be able to pick up the book from the library.</p>
		<h4 class="about__heading--green">Do I need to pay to borrow a book?</h4>
		<p>No. Books are completely free for you to take and read, but since we want to keep the library alive and keep sharing books, it would be nice of you if you could return the book once finished, or if you didn't like it. I'm sure the other readers will appreciate it.</p>
		<h4 class="about__heading--green">Can I give a book to the library?</h4>
		<p>You can also choose to give a book to the library and share it with everyone else. Just put it into the shelf and then come here and click "Add a book" (yes, you need to be logged in for this too), enter the details and then the book will be free for everyone to read! Thank you!</p>
		<h4 class="about__heading--green">What if I want the book I released back?</h4>
		<p>If you want your book back, maybe because you decided that you really miss it, you can ask one of our staff and he or she will make sure that you'll have your book back. On this respect, you can see how important it is to give a book back when finished, right?</p>
		<h4 class="about__heading--green">How do I return a book?</h4>
		<p>Just put it back in the shelf, go to the Book page after having logged in, and click "Return book". That's it, thank you!</p>
		<h4 class="about__heading--green">How many books can I borrow?</h4>
		<p>We want to give the opportunity to everyone to read our books, so you can only borrow one book at a time.</p>
		<h4 class="about__heading--green">Any other questions?</h4>
		<p>Contact us.</p>
	</section>
</template>