body {
	@include fontSerif;
	font-size: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
	@include fontSansSerif;
}

.main {
	margin: 0;
	padding: 0;
}

::selection {
    background: $main-orange;
    color: $main-white;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.container-section {
	max-width: 500px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

@media (min-width: $screen-md-min) {
	.container-section {
		max-width: 934px;
	}
}

@media (min-width: $screen-lg-min) {
	.container-section {
		max-width: 1353px;
	}
}

.at-title {
	h3 {
		font-size: 24px;
		font-weight: normal;
	}
}

.modal-backdrop.in {
	z-index: -1;
}
.modal-btn-dismiss {
	background-color: $main-orange;
	&:hover, &:active, &:focus {
		background-color: darken($main-orange, 10%);
	}
}
.modal-btn-confirm {
	background-color: $main-pink;
	&:hover, &:active, &:focus {
		background-color: darken($main-pink, 10%);
	}
}
.modal-title {
	@include typographyBold;
	color: $main-pink;
}