.btn {
	border: 0;
	font-size: 16px;

	&-pink {
		background-color: $main-pink;
		&:hover, &:active, &:focus {
			background-color: darken($main-pink, 10%) !important;
			// !important to override bootstrap styles
		}
	}

	&-green {
		background-color: $main-green;
		&:hover, &:active, &:focus {
			background-color: darken($main-green, 10%) !important;
			// !important to override bootstrap styles
		}	
	}

	&-large {
		min-width: 200px;
	}

	&-small {
		font-size: 10px;
	}
}