@import "header/header-border";
@import "header/header-title";
@import "header/header-login";

.header {
	background-color: $main-white;

	&__list-container {
		position: fixed;
	    height: 100%;
	    background: lighten($dark-grey, 30%);
	    z-index: 10;
	    padding: 0;
	    margin: 0;
	    width: 40%;
	    right: -100%;
	    transition: right 0.5s ease-in-out;
	    &.open {
	    	right: 0;
	    	transition: right 0.3s ease-in-out;
	    }
	}

	&__list {
		padding: 0;
		margin: 0;
		padding-top: 35px;
	}

	&__list-item {
		display: block;
		list-style: none;
		padding: 0;
		text-align: center;
	}

	&__link {
		padding: 10px 20px;
		color: $dark-grey;
		display: block;
		border-bottom: 1px solid lighten($dark-grey, 25%);
		&:focus, &:hover {
			text-decoration: none;
		}
		&:hover, &.selected {
			background-color: $light-grey;
			color: $dark-grey;
		}
	}

	&__close {
		position: absolute;
		transform: translate(-50%);
		top: 10px;
		right: 10px;
		cursor: pointer;
	}

	&__hamburger {
		position: absolute;
	    right: 10px;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    cursor: pointer;
	    color: $main-pink;
	}

	&__icon-link {
		font-size: 1.5em;
	}

	&__overlay {
		&.open {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 9;
			background-color: rgba($dark-grey, 0.5);
		}
	}
	&__notifications {
		min-height: 0;
		padding: 0;
	}
}

@media (min-width: $screen-md-min) {
	.header {
		&__list-container {
			position: relative;
			height: auto;
			width: 100%;
			background-color: $main-white;
			border-bottom: 1px solid $light-grey;
			left: 0;
		}

		&__list {
			margin: 0 auto;
			padding: 0;
			width: 800px;
		}

		&__list-item {
			display: inline-block;
			padding: 0;
			margin-bottom: 0;
		}

		&__hamburger {
			display: none;
		}

		&__icon-link {
			font-size: 1em;
		}

		&__link {
			border-bottom: 0;
		}
	}
}