@import "header/header-border";
@import "header/header-title";
@import "header/header-login";

.header {
	background-color: $main-white;

	&__list-container {
		position: absolute;
    height: 100%;
    background: rgba(lighten($dark-grey, 30%), 0.8);
    z-index: 1;
    padding: 0;
    margin: 0;
    width: 15%;
    right: 0;
    right: -100%;
    transition: right 0.5s ease-in-out;
    &.open {
    	right: 0;
    	transition: right 0.3s ease-in-out;
    }
	}

	&__list {
		padding: 0;
		margin: 0;
		padding-top: 35px;
	}

	&__list-item {
		display: block;
		list-style: none;
		padding: 0;
		text-align: center;
		// padding-right: 40px;
	}

	&__link {
		padding: 10px 20px;
		color: $dark-grey;
		display: block;
		&:focus, &:hover {
			text-decoration: none;
		}
		&:hover, &.selected {
			background-color: $light-grey;
			color: $dark-grey;
		}
	}
	&__close {
		position: absolute;
		transform: translate(-50%);
		top: 10px;
		cursor: pointer;
	}
	&__hamburger {
		position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: $main-pink;
	}
}

@media (min-width: $screen-md-min) {
	.header {
		&__list-container {
			position: relative;
			height: auto;
			width: 100%;
			background-color: $main-white;
			border-bottom: 1px solid $light-grey;
			left: 0;
		}

		&__list {
			margin: 0 auto;
			padding: 0;
			width: 800px;
		}

		&__list-item {
			display: inline-block;
			padding: 0;
			// text-align: left;
		}

		&__hamburger {
			display: none;
		}
	}
}