@import "header/header-border";
@import "header/header-title";

.header {
	background-color: $main-white;

	&__list-container {
		// padding-left: 100px;
		border-bottom: 1px solid $main-grey;
	}

	&__list {
		margin: 0 auto;
		padding: 0;
		width: 800px;
	}

	&__link {
		display: inline-block;
		list-style: none;
		padding: 10px 20px;
		&:hover {
			background-color: darkblue;
			a {
				text-decoration: none;
				color: white;
			}
		}
	}
}