.header-login {
	margin: 0;
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
	font-size: 1.5rem;

	&__link {
		color: $dark-grey;
		&:hover, &:focus, &:active {
			color: $main-orange;
			text-decoration: none;
		}
	}
}

.at-form {
	.at-btn {
		background-color: $main-pink;
		border: 0;
		color: $main-white;
		&:hover {
			background-color: darken($main-pink, 10%);
			color: $main-white;
		}
	}
	a {
		color: $main-pink;
		&:hover {
			color: darken($main-pink, 20%);
		}
	}
}