.header-title {
	@include fontLogo;
	@include typographyBold;
	text-align: center;
	padding: 10px 0;
	font-size: 2.5rem;
	position: relative;
	a {
		color: $dark-grey;
		&:hover, &:focus {
			color: $dark-grey;
			text-decoration: none;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.header-title {
		font-size: 3rem;
		padding: 0;
		padding-bottom: 10px;
	}
}
@media (min-width: $screen-md-min) {
	.header-title {
		font-size: 5rem;
		padding: 10px 0;
	}
}