<template name="headerLinks">
	<div class="header__list-container col-xs-12 js-header-menu">
		<ul class="header__list">
			<li class="header__list-item visible-xs">
				<i class="fa fa-times js-header-close header__close"></i>
			</li>
			<li class="header__list-item js-header-list-item visible-xs">
				<a href="{{pathFor 'homepage'}}" class="header__link {{selected 'homepage'}}">
					<i class="fa fa-home"></i>
					<span class="hidden-xs">Homepage</span>
				</a>
			</li>
			<li class="header__list-item js-header-list-item">
				<a href="{{pathFor 'booksList'}}" class="header__link {{selected 'booksList'}}">
					<i class="fa fa-book"></i>
					<span class="hidden-xs">Browse Books</span>
				</a>
			</li>
			{{#if currentUser}}
				<li class="header__list-item js-header-list-item">
					<a href="{{pathFor 'bookAdd'}}" class="header__link {{selected 'bookAdd'}}">
						<i class="fa fa-plus-square"></i>
						<span class="hidden-xs">Add a book</span>
					</a>
				</li>
			{{/if}}
		</ul>
	</div>
</template>