<template name="headerLinks">
	<div class="header__overlay js-header-overlay"></div>
	<div class="header__list-container col-xs-12 js-header-menu">
		<ul class="header__list">
			<li class="header__list-item visible-xs">
				<i class="fa fa-times js-header-close header__close header__icon-link"></i>
			</li>
			<li class="header__list-item js-header-list-item visible-xs">
				<a href="{{pathFor 'homepage'}}" class="header__link {{selected 'homepage'}}">
					<span>Homepage</span>
				</a>
			</li>
			<li class="header__list-item js-header-list-item">
				<a href="{{pathFor 'booksList'}}" class="header__link {{selected 'booksList'}}">
					<span>Browse Books</span>
				</a>
			</li>
			<li class="header__list-item js-header-list-item">
				<a href="{{pathFor 'bookAdd'}}" class="header__link {{selected 'bookAdd'}}">
					<span>Add a book</span>
				</a>
			</li>
			<li class="header__list-item js-header-list-item">
				<a href="{{pathFor 'about'}}" class="header__link {{selected 'about'}}">
					<span>About Bookley Crossing</span>
				</a>
			</li>
			<li class="visible-xs-block">
				<ul class="header__list-login">
					{{#if currentUser}}
						<li class="header__list-login-item js-header-list-item">
							<a href="{{pathFor 'dashboard'}}" class="header-login__link">
								My profile
								{{#if isInRole 'admin'}}
									{{#if requestsNotification}}
										<div class="notification-pulse"></div>
									{{/if}}
								{{/if}}
							</a>
						</li>
						<li class="header__list-login-item js-header-list-item">
							<a href="{{pathFor 'signOut'}}" class="header-login__link">Sign out</a>
						</li>
					{{else}}
						<li class="header__list-login-item js-header-list-item">
							<a href="{{pathFor 'atSignUp'}}" class="header-login__link">Sign up</a>
						</li>
						<li class="header__list-login-item js-header-list-item">
							<a href="{{pathFor 'atSignIn'}}" class="header-login__link">Sign in</a>
						</li>
					{{/if}}
				</ul>
			</li>
		</ul>
	</div>
</template>