<template name="bookTabsComments">
  <div class="book-comments">
    <div class="book-comments__container">
      <button class="btn btn-large book-comments__button js-book-tabs-comment-add">Add a comment</button>
      <div class="book-comments__text-container js-book-tabs-comment-add-container">
        {{> starsRating id='rating' class='book-comments__stars' size='lg' mutable=true}}
        <textarea
          class="form-control js-book-comments-text form-control book-comments__input book-comments__input--textarea"
          rows="5"
          id="comments-text"></textarea>
        <button class="btn btn-large book-comments__button js-book-tabs-comment-submit">Submit</button>
      </div>
    </div>
    <div class="book-comments__container">
      <div class="book-comments__author">
        <span class="book-comments__name">Maggie</span> on 4th July 2016
      </div>
      <div class="book-comments__stars">
        ***
      </div>
      <div class="book-comments__comment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</template>
