.dashboard-request {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: lighten($main-orange, 30%);
		padding: 10px 20px;
	}
	&__item {
		margin-bottom: 10px;
	}
	&__username {
		@include typographyBold;
	}
	&__title {
		@include typographyItalic;
	}
}