@import "dashboard-your-books";

.dashboard {
	padding: 20px;
	color: $main-white;
	&__section {
		background-color: darken($main-pink, 20%);
		padding: 10px 20px;
		color: white;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item {
		margin-bottom: 10px;
	}
	&__username {
		@include typographyBold;
	}
	&__title {
		@include typographyItalic;
	}
	&__tab {
		margin: 0;
		color: $main-white;
	}
	&__tabs {
		background-color: lighten($light-grey, 10%);
	}
	&__content {
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs {
		border: 0;
		& > li {
			margin-bottom: 0;
		}
		& > li > a {
			border: 0;
			color: $dark-grey;
			&:hover, &:focus, &:active {
				border: 0;
				color: $main-pink;
			}
		}
		& > li.active > a {
			color: $main-white;
			background-color: lighten($main-pink, 10%);
		}
	}

	&__tab-body {
		padding: 20px;
		background-color: lighten($main-pink, 10%);
	}
}