.dashboard-request {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item {
		margin-bottom: 10px;
		&.approved {
			color: darken($main-green, 20%);
		}
	}
	&__username {
		@include typographyBold;
	}
	&__title {
		@include typographyItalic;
	}

}