.books-list {
	margin: 0;
	padding: 40px 10px;
	position: relative;

	&__item-container {
		margin: 0;
		padding: 0;
		position: relative;
	}
	&__item {
		text-align: center;
		padding: 5px 0;
		min-height: 60px;
		line-height: 1;
		overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
	}

	&__cover {
		height: 260px;
		overflow: hidden;
		text-align: center;
		position: relative;
		cursor: pointer;

		&-container {
			position: absolute;
			top: 0;
			z-index: 1;
			height: 100%;
			overflow: hidden;
			border-radius: 20px;
			left: 50%;
			transform: translatex(-50%);
			-webkit-transform:translateX(-50%);
    	-ms-transform:translateX(-50%);
		}

		&-image {
			height: 100%;
			width: 160px;
			border-radius: 20px;
			background-color: $main-white;
		}
	}

	&__title {
		color: $dark-grey;
		&:hover, &:focus, &:active {
			color: $main-orange;
			text-decoration: none;
		}
	}

	&__status {
		width: 60px;
		right: 0;
		top: -20px;
		position: absolute;
		z-index: 101;
	}

	&__path {
		&:hover {
			text-decoration: none;
		}
	}

	&__description-container {
		position: absolute;
		background-color: rgba(51, 51, 51, 0.8);
		height: 300px;
		width: 200px;
		border-radius: 20px;
		top: 0;
		padding: 40px 20px;
		left: 50%;
		transform: translatex(-50%);
		-webkit-transform:translateX(-50%);
    	-ms-transform:translateX(-50%);

		&-text{
			color: $main-white;
			word-wrap: break-word;
			line-height: 1.3;
		}
	}
}



@media (min-width: $screen-sm-min) {
	.books-list {
		&__cover {
			height: 300px;
			&-image {
				height: 100%;
				width: 200px;
				background-color: $main-white;
			}
		}

		&__status {
			right: 0;
			width: 70px;
		}
	}
}


@media (max-width: $screen-sm-min) {
	.books-list {
		&__description-container {
			height: 260px;
			width: 160px;
			padding: 30px 15px;
			font-size: 12px;
		}
	}
}

@media (min-width: $screen-md-min) {
	.books-list {
		&__status {
			right: 10px;
		}

		&__description-container {
			height: 300px;
			width: 200px;
		}

		&__cover {
			&:hover {
				.books-list__description-container {
			    	opacity: 2;
			    	z-index: 100;
			    	transition: all 0.5s ease;
	  			}

		  		.books-list__cover-image {
				    transform: scale(1.08);
				    -webkit-transform: scale(1.08);
				    -ms-transform: scale(1.08);
				    transform-origin: 50%,50%;
				    transition: all 0.5s ease;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	.books-list {
		&__status {
			right: 20px;
		}
	}
}