.book-comments {
  &__container {
    padding: 10px 0;
  }
  &__author {
    @include fontSansSerif;
  }
  &__name {
    @include typographyBold;
  }
  &__input {
    &--textarea {
      resize: none;
      width: 100%;
    }
  }
  &__button {
    width: 100%;
    margin: 10px 0;
    background-color: $main-green;
    &:hover, &:focus {
      background-color: darken($main-green, 10%);
    }
  }
  &__text-container {
    display: none;
  }
  &__stars {
    margin: 10px 0;
    display: inline-block;
    & .current-rating {
      color: $main-orange;
    }
    & .active {
      color: darken($main-orange, 10%);
    }
  }
  .fa-times {
    cursor: pointer;
    float: right;
    top: 15px;
    right: 5px;
    position: relative;
    color: $light-grey;
    font-size: 1.5em;
    &:hover {
      color: darken($light-grey, 10%);
    }
  }
}
