.book-comments {
  &__container {
    padding: 10px 0;
    &:last-of-type {
      .book-comments__comment {
        border: none;
      }
    }
  }
  &__author {
    @include fontSansSerif;
  }
  &__name {
    @include typographyBold;
  }
  &__input {
    &--textarea {
      resize: none;
      width: 100%;
    }
		&.error {
			border: 1px solid $main-pink;
		}
  }
  &__button {
    width: 100%;
    margin: 10px 0;
    background-color: $main-green;
    &:hover, &:focus {
      background-color: darken($main-green, 10%);
    }
  }
  &__text-container {
    display: none;
    .error {
      margin-top: 5px;
      color: $main-pink;
    }
  }
  &__text-stars {
    margin-bottom: 10px;
  }
  &__stars {
    margin-top: 10px;
    display: inline-block;
  }
  &__close {
    cursor: pointer;
    position: relative;
    color: $light-grey;
    font-size: 15px;
    &:hover {
      color: darken($light-grey, 10%);
    }
  }
  &__comment {
    padding-bottom: 20px;
    border-bottom: 1px solid $light-grey;
  }
}
