.book-add {
	&__title {
		text-align: center;
	}
	&__input {
		&.error {
			border: 1px solid $main-pink;
		}
		&--textarea {
			resize: none;
		}
	}
	&__controls {
		.error {
			margin-top: 5px;
			color: $main-pink;
		}
	}
	&__label {
		font-weight: inherit;
		font-size: 14px;
	}
	&__message {
		color: $main-pink;
		text-align: center;
	}
}
