.books-list {
	margin: 0;
	padding: 20px 0;

	&__item-container {
		margin: 0;
		padding: 10px 5px;
	}
	&__item {
		text-align: center;
		padding: 5px 0;
		min-height: 60px;
	}
	&__cover {
		height: 260px;
		overflow: hidden;
		text-align: center;
		img {
			height: 100%;
			width: 160px;
			border-radius: 20px;
		}
	}
	&__title {
		color: $dark-grey;
		&:hover {
			color: darken($dark-grey, 20%);
		}
	}
}

@media (min-width: $screen-s-min) {
	.books-list {
		&__item-container {
			padding: 10px 20px;
		}
		&__cover {
			height: 300px;
			img {
				height: 100%;
				width: 200px;
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	.books-list {
		&__item-container {
			padding: 10px;
		}
	}
}

@media (min-width: $screen-md-min) {
	.books-list {
		&__item-container {
			padding: 10px 15px;
		}
	}
}

@media (min-width: $screen-lg-min) {
	.books-list {
		&__item-container {
			padding: 10px 30px;
		}
	}
}