.book-add {
	&__title {
		text-align: center;
		@include typographyBold;
	}
	&__input {
		height: 100px;
		&.error {
			border: 1px solid $main-pink;
		}
	}
	&__controls {
		.error {
			margin-top: 5px;
			color: $main-pink;
		}
	}
}
