.books-list {
	margin: 0;
	padding: 40px 30px;

	&__item-container {
		margin: 0;
		padding: 0;
		position: relative;
	}
	&__item {
		text-align: center;
		padding: 5px 0;
		min-height: 60px;
	}
	&__cover {
		height: 260px;
		overflow: hidden;
		text-align: center;
		&-image {
			height: 100%;
			width: 160px;
			border-radius: 20px;
		}
	}
	&__title {
		color: $dark-grey;
		&:hover {
			color: darken($main-orange, 20%);
		}
	}
	&__status {
		width: 60px;
		right: 0;
		top: -20px;
		position: absolute;
	}
}

@media (min-width: $screen-sm-min) {
	.books-list {
		&__cover {
			height: 300px;
			&-image {
				height: 100%;
				width: 200px;
			}
		}
		&__status {
			right: 5%;
			width: 70px;
		}
	}
}