.book-detail {
	padding: 20px 10px;
	&__image {
		height: 500px;
		text-align: center;
		padding: 10px;
		img {
			height: 100%;
			border-radius: 10px;
		}
	}
	&__title {
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&__synopsis {
		padding-top: 20px;
	}
	&__borrowedby {
		color: $main-pink;
		&--username {
			@include typographyBold;
		}
	}
	&__borrowing {
		color: $main-orange;
	}
	&__button-container {
		padding: 40px 10px;
		text-align: center;
	}
	&__button {
		color: $main-white;
		font-size: 2rem;

		&:hover, &:focus {
			color: $main-white;
		}

		&--borrow {
			background-color: $main-pink;
			&:hover, &:focus {
				background-color: darken($main-pink, 10%);
			}
		}
		&--unavailable {
			background-color: $light-grey;
			pointer-events: none;
		}
		&--return {
			background-color: $main-orange;
			&:hover, &:focus {
				background-color: darken($main-orange, 10%);
			}
		}
	}
	&__wishlist {
		padding: 10px 0;
		margin: 0;
		cursor: pointer;
		color: $main-pink;
		.icon-heart-full {
			display: none;
		}
		&--added {
			pointer-events: none;
		}
	}
	&__errors {
		color: $main-pink;
		margin-bottom: 10px;
	}
}

@media (min-width: $screen-md-min) {
	.book-detail {
		&__wishlist {
			text-align: left;
			&:hover {
				.icon-heart-full {
					display: inline-block;
				}
				.icon-heart-empty {
					display: none;
				}
			}
		}
	}
}