.homepage-banner {
	background-image: url(images/homepage-background.jpg);
	background-size: cover;
	background-position: center center;
	height: 500px;
	margin: 0;
	padding: 0;
	text-align: center;
	color: $main-white;
	text-shadow: 1px 1px 2px rgba($dark-grey, 0.8);

	&__title {
		padding-top: 170px;
		font-size: 3.8rem;
		margin-bottom: 10px;
		@include fontLogo;
	}

	&__copy {
		font-size: 2rem;
		margin-bottom: 30px;
	}
}

@media (min-width: $screen-sm-min) {
	.homepage-banner {
		&__title {
			font-size: 5rem;
		}
		&__copy {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: $screen-md-min) {
	.homepage-banner {
		&__title {
			font-size: 5.5rem;
		}
		&__copy {
			font-size: 2.5rem;
		}
	}
}
