.homepage-latest {
	margin: 0;
	padding: 0;
	color: $dark-grey;

	&__title {
		padding: 0 30px;
		padding-bottom: 20px;
	}

	&__link {
		font-size: 0.5em;
		margin-left: 20px;
		color: $dark-grey;
		&:hover {
			color: darken($main-orange, 20%);
			text-decoration: none;
		}
	}
}