<template name="editBook">
	<section class="book-add col-xs-12 col-sm-5 col-centered">
		<h3 class="book-add__title">Edit <span class="book-add__title--italic">{{title}}</span></h3>
		<form class="js-edit-book-form">
			<div class="form-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls book-add__controls">
					<input name="title"
								 id="title"
								 type="text"
								 value="{{title}}"
								 class="js-edit-book-title form-control book-add__input"
								 required/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="author">Author</label>
				<div class="controls book-add__controls">
					<input name="author"
								 id="author"
								 type="text"
								 value="{{author}}"
								 class="js-edit-book-author form-control book-add__input"
								 required/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="cover">Cover url</label>
				<div class="controls book-add__controls">
					<input name="cover"
							   id="cover"
							   type="text"
							   value="{{cover}}"
							   placeholder="Cover url"
							   class="js-edit-book-cover form-control book-add__input"
							   required/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="description">Description</label>
				<div class="controls book-add__controls">
					  <textarea
					  	class="form-control js-edit-book-description form-control book-add__input book-add__input--textarea"
					  	rows="5"
					  	id="description">{{description}}</textarea>
				</div>
			</div>
			<input type="submit" value="Save" class="btn btn-primary btn-pink btn-block btn-lg"/>
		</form>
	</section>
</template>