<template name="bookItem">
	<section class="book-detail container-section col-xs-12 col-md-9 row">
		<div class="col-xs-12 col-sm-6 book-detail__image">
			<img src="{{cover}}" alt="{{title}} - {{author}}"/>
		</div>
		<div class="col-xs-12 col-sm-6 book-detail__description">
			<h1 class="book-detail__title">{{title}}</h1>
			<p class="book-detail__author">{{author}}</p>
			<p class="book-detail__addedby">Added by {{user.username}} on {{convertDate submitted}}</p>
			{{#if borrowed}}
				{{#if isBorrowing}}
					<p class="book-detail__borrowing">You are reading this book since {{convertDate borrowedOn}}</p>
				{{else}}
					<p class="book-detail__borrowedby">
						<span class="book-detail__borrowedby--username">{{borrowed.username}}</span>
						is reading this book since {{convertDate borrowedOn}}
					</p>
				{{/if}}
			{{/if}}

			{{#if currentUser}}
				{{#if inWishlist}}
					<div class="book-detail__wishlist book-detail__wishlist--added col-xs-12 js-wishlist-remove">
						<i class="fa fa-heart"></i>
						This book is in your wishlist
					</div>
				{{else}}
					<div class="book-detail__wishlist col-xs-12 js-wishlist-add">
						<i class="fa fa-heart-o icon-heart-empty"></i>
						<i class="fa fa-heart icon-heart-full"></i>
						Add to your wishlist
					</div>
				{{/if}}
			{{/if}}

			<p class="book-detail__synopsis">{{description}}</p>

			<div class="book-detail__button-container col-xs-12">
				<div class="book-detail__errors js-borrow-notifications"></div>
				{{#if borrowed}}
					{{#if isBorrowing}}
						<button class="col-xs-12 book-detail__button book-detail__button--return btn btn-large js-return-book">Return this book</button>
					{{else}}
						<button class="col-xs-12 book-detail__button book-detail__button--unavailable btn btn-large">Book unavailable</button>
					{{/if}}
				{{else}}
					{{#if requested}}
							{{#if isRequesting}}
								<button class="col-xs-12 book-detail__button book-detail__button--unavailable btn btn-large">Come collect!</button>
							{{else}}
								<button class="col-xs-12 book-detail__button book-detail__button--unavailable btn btn-large">Book already requested</button>
							{{/if}}
					{{else}}
						<button class="col-xs-12 book-detail__button book-detail__button--borrow btn btn-large js-borrow-book">Request this book</button>
					{{/if}}
				{{/if}}
			</div>

			{{#if isInRole 'admin'}}
				<ul class="book-detail__admin col-xs-12 list-unstyled list-inline">
					<li class="book-detail__admin--title">Admin actions:</li>
					<li class="book-detail__admin--action">
						<a href="{{pathFor 'editBook'}}" class="book-detail__admin--link">Edit</a>
					</li>
					<li class="book-detail__admin--action">
						<span class="js-delete-book">Delete</span>
					</li>
				</ul>
			{{/if}}
		</div>
	</section>

	<section class="book-tabs container-section col-xs-12 col-md-9 row">
		<ul class="book-tabs__headings col-xs-12 col-md-8 container-section">
			<li class="book-tabs__heading">Reading History</li>
		</ul>
		<div class="book-tabs__container col-xs-12 col-md-8 container-section">
			<div class="book-history">
				{{#if records}}
					{{#each records}}
						<div class="book-history__user">
							<span class="book-history__username">{{#with recordUser userId}}{{username}}{{/with}}</span>
							from {{convertDate from}} to {{convertDate to}} ({{difference}} days)
						</div>
					{{/each}}
				{{/if}}
			</div>
		</div>
	</section>
</template>
