<template name="bookAdd">
	<form>
		<div class="form-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" id="title" type="text" value="" placeholder="Title" class="js-new-book-title form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="author">Author</label>
			<div class="controls">
				<input name="author" id="author" type="text" value="" placeholder="Author" class="js-new-book-author form-control"/>
			</div>
		</div>
		<input type="submit" value="Add" class="btn btn-primary"/>
	</form>
</template>