<template name="bookAdd">
	<section class="book-add col-xs-12 col-sm-5 col-centered">
		<h3 class="book-add__title">Add a book</h3>
		<p class="book-add__message">Please add a book only if you are going to donate it to the library.</p>
		<p class="book-add__message">Requests or suggestions are going to be implemented in a future release.</p>
		<form class="js-book-add-form">
			<div class="form-group">
				<label class="control-label book-add__label" for="title">Title</label>
				<div class="controls book-add__controls">
					<input name="title"
								 id="title"
								 type="text"
								 value=""
								 placeholder="Title"
								 class="js-new-book-title form-control book-add__input"
								 required/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label book-add__label" for="author">Author</label>
				<div class="controls book-add__controls">
					<input name="author"
								 id="author"
								 type="text"
								 value=""
								 placeholder="Author"
								 class="js-new-book-author form-control book-add__input"
								 required/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label book-add__label" for="cover">Cover url</label>
				<div class="controls book-add__controls">
					<input name="cover"
							   id="cover"
							   type="text"
							   value=""
							   placeholder="Cover url"
							   class="js-new-book-cover form-control book-add__input"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label book-add__label" for="description">Description</label>
				<div class="controls book-add__controls">
					<textarea
						class="form-control js-new-book-description form-control book-add__input book-add__input--textarea"
						rows="5"
						id="description"></textarea>
				</div>
			</div>
			<input type="submit" value="Add" class="btn btn-primary btn-pink btn-block btn-lg"/>
		</form>
	</section>
</template>