<template name="booksListItem">
	<div class="books-list__item-container col-xs-6 col-sm-4 col-md-3">
		{{#if status}}
			<img src="images/{{status}}.png" class="books-list__status" alt="{{status}}"/>
		{{/if}}
		<div class="books-list__cover">
			<div class="books-list__cover-container">
				<a href="{{pathFor 'bookPage'}}" class="books-list__path">
					<img src="{{cover}}" alt="{{title}} - {{author}}" class="books-list__cover-image"/>
				</a>
			</div>
			<a href="{{pathFor 'bookPage'}}" class="books-list__path">
				<div class="books-list__description-container">
						<p class="books-list__description-container-text">{{ trim description 0 200}}</p>
				</div>
			</a>
		</div>
		<div class="books-list__item">
			<a href="{{pathFor 'bookPage'}}" class="books-list__title">
				{{title}}
			</a>
		</div>
	</div>
</template>