<template name="dashboardYourBooks">
	<div class="dashboard-your-books dashboard__tab row">
		<h3>Your Books</h3>
		<h4>You are reading</h4>
		{{#with book}}
		 	<div class="dashboard-your-books__book col-xs-2">
				<a href="{{pathFor 'bookPage'}}">
					<img class="dashboard-your-books__cover" src="{{cover}}"/>
					<span class="dashboard-your-books__text">{{title}}</span>
					<span class="dashboard-your-books__text">by {{author}}</span>
				</a>
				<button class="btn btn-small btn-orange js-dashboard-return">Return this book</button>
			</div>
		{{/with}}
	</div>
</template>