<template name="dashboardManage">
	<div class="dashboard-manage dashboard__tab row">
		<h3>Manage</h3>
		<div class="dashboard__section col-xs-12 col-sm-6">
			<div class="dashboard__section-content">
				<h4 class="dashboard__section-title">
					{{#if requestsNotEmpty}}
						<div class="notification-pulse"></div>
					{{/if}}
					Pending requests
				</h4>
				<ul class="dashboard__list">
					{{#if requestsNotEmpty}}
							{{#each requests}}
								{{> dashboardRequest}}
							{{/each}}
					{{else}}
						<div class="dashboard__item">No pending requests</div>
					{{/if}}
				</ul>
			</div>
		</div>

		<div class="dashboard__section col-xs-12 col-sm-6">
			<div class="dashboard__section-content">
				<h4 class="dashboard__section-title">Users are reading</h4>
				<ul class="dashboard__list">
					{{#each books}}
						{{> dashboardManageBook}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</template>

<template name="dashboardRequest">
	<li class="dashboard__item js-dashboard-request">
		<span class="dashboard__username">{{user.username}}</span> wants to read <span class="dashboard__title">{{book.title}}</span>
		<div>
			<button class="btn btn-small btn-green js-dashboard-request-approve">Approve</button>
			<button class="btn btn-small btn-pink js-dashboard-request-decline">Decline</button>
		</div>
	</li>
</template>

<template name="dashboardManageBook">
	{{#if borrowed}}
		<li class="dashboard__item">
		<span class="dashboard__username">{{borrowedBy.username}}</span> is reading <span class="dashboard__title">{{title}}</span> since {{borrowedOn}}
		<div>
			<button class="btn btn-small btn-pink js-dashboard-force-return">Force Return</button>
		</div>
		</li>
	{{/if}}
</template>