<template name="footer">
	<footer class="footer col-xs-12">
		<div class="footer__row container ">
			<div class=" footer__main col-xs-12 col-md-8">
				<ul class="footer__section col-xs-12 col-md-3">
					<li><h3 class="footer__section-title">Books</h3></li>
					<li><a href="{{pathFor 'booksList'}}" class="footer__section-text footer__section-link">Browse books</a></li>
					<li><a href="{{pathFor 'bookAdd'}}" class="footer__section-text footer__section-link">Add a book</a></li>
				</ul>
				<ul class="footer__section col-xs-12 col-md-3">
					<li><h3 class="footer__section-title">Help</h3></li>
					<li><a href="{{pathFor 'about'}}" class="footer__section-text footer__section-link">About</a></li>
				</ul>
				<div class=" footer__section col-xs-12 col-md-6">
					<h3 class="footer__section-title">About Us</h3>
					<p class="footer__section-text">Bookley Crossing is a non-profit initiative created by a team of developers at Deloitte Digital that aims to promote reading, culture and education in the workplace.</p>
				</div>
			</div>
			<div class="footer__section footer__section-followUs col-xs-12 col-md-3">
				<h3 class="footer__section-title">Follow Us</h3>
				<ul class="footer__social">
					<li>
						<a class="footer__social-links" href="https://www.facebook.com/pages/Deloitte-Digital-Studio/1492904997595558?fref=ts" target="_blank"><i class="fa fa-facebook-square footer__social-links-icon"></i><p class="footer__social-links-text">Facebook</p></a>
					</li>
					<li>
						<a class="footer__social-links" href="https://twitter.com/DeloitteDIGI_UK" target="_blank"><i class="fa fa-twitter-square footer__social-links-icon"></i><p class="footer__social-links-text">Twitter</p></a>
					</li>
					<li>
						<a class="footer__social-links" href="https://www.instagram.com/deloittedigitaluk/" target="_blank"><i class="fa fa-instagram footer__social-links-icon"></i><p class="footer__social-links-text">Instagram</p></a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</template>