<template name="footer">
	<footer class="footer col-xs-12">
		<div class="container footer__container">
			<div class="footer__section col-md-4">	
					<h3 class="footer__section-title">Books</h3>
					<p class="footer__section-text">Bookley Crossing is a non-profit initiative created by a team of developers at Deloitte Digital that aims to promote reading, culture, education and charity in the workplace.</p>
			</div>
			<div class=" footer__section col-md-4">	
					<h3 class="footer__section-title">About Us</h3>
					<p class="footer__section-text">Bookley Crossing is a non-profit initiative created by a team of developers at Deloitte Digital that aims to promote reading, culture, education and charity in the workplace.</p>
			</div>
			<div class="footer__section col-md-4">	
				<h3 class="footer__section-title">Follow Us</h3>
					<ul class="footer__social">
						<li>
							<a class="footer__social-links" href="#"><i class="fa fa-facebook-square footer__social-links-icon"></i><p class="footer__social-links-text">Facebook</p></a>
						</li>
						<li>
							<a class="footer__social-links" href="#"><i class="fa fa-twitter-square footer__social-links-icon"></i><p class="footer__social-links-text">Twitter</p></a>
						</li>
						<li>
							<a class="footer__social-links" href="#"><i class="fa fa-instagram footer__social-links-icon"></i><p class="footer__social-links-text">Instagram</p></a>
						</li>
					</ul>
			</div>
		</div>
	</footer>
</template>